/*imports*/
@import "normalize";
@import "bootstrap.min";
@import "inlineanchor";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

html {
    font: 100%/1.5em 'Lato';
}

header {
    background: mediumpurple;
    color: white;
    text-align: center;
    padding: 10% 0 10% 0;
}

h1, h2, h3 {
    font-family: 'Lato';
    font-weight: 300;
    text-align: center;
}

header h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}

.sections {
    margin-top: 50px;
}

.sections p {
    text-align: justify;
    font-family: 'lato';
}


.icolinks {
    height: 80px;
    width: 80px;
    margin: 20px 10px 30px 10px;
    text-decoration: none;
    color: black;
}

.centered {
	text-align: center;
}

.icolinks:hover {
    color: mediumpurple;
}

svg path {
    fill: black;
}

svg:hover path {
    fill: mediumpurple;
}

@media only screen and (min-width: 767px) {

    body {
        font-size: 1.125em; /* 18px / 16px */
        line-height: 1.7em;
    }

    header {
        background-image:url(../img/8.JPG);
        background-size: 100%;
    }

    header h1 {
        font-size: 6em; /*52 / 16*/
    }

    .sections {
        margin-top: 60px;
    }

    .sections h2 {
        margin-top: 40px;
    }

    .sections p {
        margin-top: 40px;
    }

}
